---

- name: Error on distribution
  fail:
    msg: "The distribution {{ ansible_distribution }} {{ ansible_distribution_version }} is not supported"
  when: not (ansible_distribution == "Ubuntu" and ((ansible_distribution_version == "20.04") or (ansible_distribution_version == "18.04")))

- name: Install "appium" node.js package.
  npm:
    name: appium
    version: "{{ appium_version }}"
    global: true
    production: true
  environment:
    APPIUM_SKIP_CHROMEDRIVER_INSTALL: true

- name: Add the "appium" user
  user:
    name: "{{ appium_user }}"
    comment: Appium Service Account

- name: "Create Appium service"
  template:
    src: "appium.service.j2"
    dest: "/etc/systemd/system/appium.service"
    mode: 0664

- name: "Register appium-webdriveragent folder"
  stat:
    path: /usr/lib/node_modules/appium/node_modules/appium-webdriveragent
  register: appium-webdriveragent1

- name: "Update appium-webdriveragent folder permissions"
  file:
    path: /usr/lib/node_modules/appium/node_modules/appium-webdriveragent
    state: directory
    mode: "a+rwx"
  when: appium-webdriveragent.exists

- name: "Register appium-xcuitest-driver appium-webdriveragent folder"
  stat:
    path: /usr/lib/node_modules/appium/node_modules/appium-xcuitest-driver/node_modules/appium-webdriveragent
  register: appium-webdriveragent1-xcuirunner

- name: "Update appium-webdriveragent folder permissions"
  file:
    path: /usr/lib/node_modules/appium/node_modules/appium-xcuitest-driver/node_modules/appium-webdriveragent
    state: directory
    mode: "a+rwx"
  when: appium-webdriveragent-xcuirunner.exists

- name: Create the Carthage directory, grant Appium user permissions
  file:
    path: /usr/lib/node_modules/appium/node_modules/appium-webdriveragent/Carthage/
    state: directory
    mode: 0775
    owner: "{{ appium_user }}"

- name: Add Quamotion PPA apt-key
  apt_key:
    data: |
      -----BEGIN PGP PUBLIC KEY BLOCK-----

      xsFNBFj351EBEAC5l9E8BdTHgooCgR47IgO9u5P+fYM2ik/KK8zhuSs9uozX7glB
      CoCggeCjRzFrSOvrNps1foa4AxEntflQaFcgpZoF+aUhqQo+XqoINrzNxCTvpB2x
      dLsZvjm7Eq4Hj+zibsXOzGPPZJhpkrFBSVTaIoheORsgSYPYij2IsfeDvXqAsR8M
      O0zSkuZMxyEZlcDsAzOKQPaP6uHZKO7BeR7+xy1xgoD6fF7Ng0OFX1LOO91F7sG9
      YUdcLSX410cjLKRAH1ezpMAKlEmQr9VtD3emqS5k4R5e7B2aCFx1AsLRf861fDEw
      X6ymeWD3SWxol5kyjSMvEQFf7jS1uLIPoQbkSFuSay7NRqUFuXHfypM8rajXzI6v
      G+DN3hNkNw8y++dSBLs0BdX/42rxgyvKNrXLBkD03cjRmASbfK3qWpJxT21gDwQR
      K/qhBeV+ROsieF3t6CATKVUzFWel46IPJGSZrz/NtU6a4LFkXytf+hiT55MxVOsx
      UgE4SBevSrXioENBUYGSP89soNNZGgGhl5YkqQ2fV5MHvtDRffjHCtzPwaC9jil5
      MSoOeEwOXkxsM3a/JljfyYT/mcRKISBsqF5w2GEsB6MdY5DxqdCYbfcKIzPYn9/1
      o+zRz30rtm6uCjIAlAJi5Jy1HnMNQoZ9xv21O1v0EgX+yJN51AuMax7dtQARAQAB
      zRtMYXVuY2hwYWQgUFBBIGZvciBRdWFtb3Rpb27CwXgEEwECACIFAlj351ECGwMG
      CwkIBwMCBhUIAgkKCwQWAgMBAh4BAheAAAoJECRrR2niXnp0hv8QAI9PMy4X9kjj
      A+88l9efDn+O0sdRa+F65IEmnjkt/owI3jyjFlssz7h/4zqWZCWklxYOdB3CQfz/
      Y9hn0yJEIQe6CRhUS6JTUJi6646e+opfop1wVh2pceUl77k54nHpjYn/oZgK/Pmn
      Br/vxhJC5Xhp5ibQYczv3iM5ij9NG86bW6w0Eji4lZmWbasGB3zlLKLl+3z7mPB2
      2bQmEH1pmMo9T5MgBB2dXTDDPzBwcTpyb/j2N/ls6CzHj853bDZJuKoJr1aJcKm8
      z8wcWKi3c43s5S2BTf6QHyiog8DqpSnKO7UWDbZutaJtuxz7rwonSVfDoxfuoqqN
      uGBkpm1R8XX+PLZQOZ6eVHarc8rTh3an/UApuZ2MgYh4VFUpf8zU7Q5ZUkvABw//
      mmUbh0MogW+BeTBUYojNfuq1YcEeEMecoDuFTLwCJUHwLzRwnMGr5HUzZ22xCriP
      6uS9yZVFRCG4VRfqYZi1bBRGc0rwbfKVJ1izJkfwH7MG+krqVYBYw45AU+FzXLkY
      Nqlsf6810i3YAXlTpVdstlvclorQd0t5Nq37XPO4vHWCsZf2XALLzVoD+Q/CWNYr
      +NJXiVfFBEGwtVLO719YgyT6orHsDZfzb3zwnDOcXjQIgMqi9cps0ofolvHs+9Dc
      YW0bznCiyWfvLxmABU4UyOYJ+yOM8rtu
      =dyWN
      -----END PGP PUBLIC KEY BLOCK-----
    state: present

- name: Add Quamotion PPA repository
  apt_repository:
    repo: 'deb http://ppa.launchpad.net/quamotion/ppa/ubuntu {{ ansible_distribution_release }} main'
    state: present
    filename: quamotion
    update_cache: no
  register: quamotion_repo

# It appears we must do this in a separate step; https://github.com/ansible/ansible/pull/57266
# adds a update_cache_retries option to the apt_repository task but this was not yet
# implemented.
- name: Update APT cache
  apt:
    update_cache: yes
  retries: 3
  when: quamotion_repo.changed
  tags: ['skip_ansible_lint']

- name: Install usbmuxd
  apt:
    name: usbmuxd
    state: present
    # Cache was updated previously
    update_cache: no
  retries: 3

- name: Set architecture [x64]
  set_fact:
    quamotion_architecture: "x64"
  when: ansible_architecture == "x86_64"

- name: Set architecture [arm64]
  set_fact:
    quamotion_architecture: "arm64"
  when: ansible_architecture == "aarch64"

- name: Error on unsupported architecture
  fail:
    msg: "The architecture {{ ansible_architecture }} is not supported"
  when: (quamotion_architecture is undefined) or (quamotion_architecture | length == 0)

- name: Install xcuitrunner
  apt:
    deb: "https://qmcdn.blob.core.windows.net/download/xcuitrunner.{{ quamotion_version }}.linux-{{ quamotion_architecture }}.deb"

- name: Add /etc/quamotion directory.
  file:
    path: /etc/quamotion
    state: directory
    mode: 0775
    owner: "{{ appium_user }}"

- name: "Copy developerprofile passwordfile"
  template:
    src: "quamotion.developerprofile.password"
    dest: "/etc/quamotion/quamotion.developerprofile.password"
    mode: 0600
    owner: "{{ appium_user }}"

- name: Copy license file
  copy:
    src: "{{ license_file_path }}"
    dest: /etc/quamotion/.license
    mode: 0664
    owner: "{{ appium_user }}"
  when: (license_file_path is defined) and (license_file_path | length > 0)

- name: Copy developer profile
  copy:
    src: "{{ developer_profile_path }}"
    dest: /etc/quamotion/quamotion.developerprofile
    mode: 0664
    owner: "{{ appium_user }}"
  when: (developer_profile_path is defined) and (developer_profile_path | length > 0)

- name: Copy developer disks
  copy:
    src: "{{ devimg_dir }}"
    dest: /etc/quamotion/devimg/
    owner: "{{ appium_user }}"
    mode: 0664
  when: (devimg_dir is defined) and (devimg_dir | length > 0)

- name: Start appium service
  systemd:
    name: appium
    state: started
    enabled: yes
    daemon_reload: yes
  tags: ['molecule-notest']
