[Unit]
Description=Appium
Documentation=https://appium.io
After=network.target

[Service]
Type=simple
User={{ appium_user }}
ExecStart=/usr/bin/appium
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/share/xcuitrunner:/usr/local/opt/xcode"

[Install]
WantedBy=multi-user.target
