[Unit]
Description=Appium
Documentation=https://appium.io
After=network.target

[Service]
Type=simple
User={{ appium_user }}
ExecStart=/home/{{ appium_user }}/run-appium
Environment="PATH=/usr/bin:/usr/share/xcuitrunner:$PATH"

[Install]
WantedBy=multi-user.target
